.info-container {
  background-color: white;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.info-container-odp {
  background-color: white;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}
.img-gamas-button {
  width: 125px;
  background: none;
  padding: 10px 0px;
}
.img-gamas-button > img {
  width: 100px;
}

.img-gamas-button:hover {
  cursor: pointer;
}

.info-box-odp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.info-inner {
  width: 450px;
  padding: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #efefef;
  border-radius: var(--border-radius);
}
.info-inner-odp {
  width: 200px;
  padding: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #efefef;
  border-radius: var(--border-radius);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-fkgn {
  background-color: #efefef;
  border-color: #efefef;
  text-align: left;
  vertical-align: top;
}

.info-inner h4,
.info-inner h5,
.info-inner p,
.status p {
  margin: 0;
}
.info-inner h5 {
  background: var(--main-colour);
  color: white;
  padding: 5px;
  margin-left: -10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.info-inner .address {
  background-color: #b3b3b3;
  margin-left: -10px;
  color: white;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.desc-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.desc-detail-odp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.desc-detail-odp > img {
  width: 100px;
}
.desc-detail > img {
  width: 100px;
}

.desc-detail-costumer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.desc-detail-costumer > img {
  width: 100px;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.status-odp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.status-odp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.status p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.status img {
  width: 20px;
}

.status-odp p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.status-odp img {
  width: 20px;
}
